body {

	font-family: 'Montserrat', sans-serif; 
	font-size: 12px;
	line-height: 200%;
	letter-spacing: 1px;
	color: #27273B;
	background-color: #F5F3F3; 
	margin-right: 15px;
	margin-left: 15px;
	text-align: justify;

}



#cover-page {
	margin: 0 auto;
	text-align: center;
	height: 100vh;
	background-color: #F5F3F3; 

}


#earlybird-logo {
	padding-top: 10vh;

}


#earlybird-logo img {
	height: 30vh;
	margin: 0 auto;

}


#earlybird-text {
	padding-top: 10vh;

}


#earlybird-text img {
	height: 7vh;
	margin: 0 auto;
	max-width: 75%;

}


#earlybird-subtitle {
	padding-top: 4vh;

}


#earlybird-subtitle p {
	font-size: 19px;
	line-height: 145%;
}


#scroll-affordance  {
	margin-top: 18vh;

}


#scroll-affordance img {
	height: 60px;

}

#scroll-affordance: onscroll {
	visibility: hidden;
}



#form {
	height: 100vh;
	/* max-width: 960px; */
	padding-top: 5%;
}


.typeform-widget {
	margin: 0 auto;
	width:80%;
	height:100vh;

}





/* 
#form .body-quote {
	font-size: 16px;
	line-height: 180%;
	margin-left: 20px;
	margin-right: 10%;
	font-style: italic;
	text-align: justify;


}

#form .body-titles {
	font-size: 17px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	font-weight: bold;

}

#form .body-text {
	font-size: 14px;


}
*/







/*

a button {
	display: block;
	margin: 0 auto;
	height: 60px;
	width: 120px;
	background-color: #46A0E6;
	color: #0F416C;
	box-shadow: 0px 10px 20px 0px rgba(39,39,59,0.20), 0px 6px 6px 0px rgba(39,39,59,0.33);
	border-radius: 3px;
	border: none;
	margin-top: 50px;
	font-family: inherit;
	font-size: 22px;

}


button:hover {
	background-color:#5CACE9;
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

a:active {
	position:relative;
	top:1px;
		text-decoration: none;

}


