body {

	font-family: 'Montserrat', sans-serif; 
	font-size: 16px;
	line-height: 200%;
	letter-spacing: 1px;
	color: #27273B;
	background-color: #F5F3F3; 
	margin-right: 15px;
	margin-left: 15px;
	text-align: justify;

}

/*//////////////////// COVER-PAGE ////////////////////*/

#cover-page {
	margin: 0 auto;
	text-align: center;
	height: 100vh;
	overflow: hidden;

}


#earlybird-logo {
	padding-top: 10vh;

}


#earlybird-logo img {
	height: 25vh;
	margin: 0 auto;

}


#earlybird-text {
	padding-top: 10vh;

}


#earlybird-text img {
	height: 6vh;
	margin: 0 auto;
	max-width: 70%;

}


#earlybird-subtitle {
	padding-top: 4vh;

}


#earlybird-subtitle p {
	font-size: 19px;
	line-height: 145%;
}


#scroll-affordance  {
	margin-top: 15vh;

}


#scroll-affordance img {
	height: 60px;

}


/*//////////////////// SECTION-1 ////////////////////*/


#section-1 {
	height: 100vh;
	margin: 0 auto;

}


.body-quote {
	display: table;
	margin-top: 10%;
	overflow: hidden;

}

.body-quote .quote-line {
	width: 5px;
	height: 90%;
	background-color: #27273B;
	display: inline-block;
	vertical-align: top;
	
}

.body-quote .quote-text {
	width: 92%;
	height: 100%;
	margin-left: 5%;
    overflow-y: auto;
    display: inline-block;
	font-style: italic;

}


.body-section {
	margin: 0 auto;

}

.body-titles {
	margin-top: 10%;
	margin-bottom: 2%;
	font-weight: bold;
	font-size: 120%;
}

.body-text {
	color: #3F3F60;

}

/*

@media (max-width:1000px) { 

#section-1 {
	padding-left: 50px;
	padding-right: 50px;
	}
}


@media (max-width:750px) { 

.skills .skill {
	width: 45%;
	}

#earlybird-logo img {
	height: 15vh;

	}

#earlybird-subtitle {
	padding-top: 0vh;

	}	

}


@media (max-width:500px) { 

.body-quote {
	margin-left: 0;
	}

}


@media (max-width:425px) { 

.skills .skill {
	width: 100%;
	}
}

*/

/*//////////////////// SKILLS ////////////////////*/



.skill {
	margin-top: 80px;

}

.skill img {
	display: block;
	height: 35px;
	margin: 0 auto;

}

.skill p {
	margin-top: 25px;
	text-align: center;
	color: #27273B;

}

/*//////////////////// CONTACT ////////////////////*/



.contact-button { 
	color: #27273B;
	/*color: white; */
	background-color: #F7D144; 
	/*background-color: #27273B;*/
	border: none ; 
	font-size: 20px;
	border-radius: 4px;
	box-shadow: 0px 1px 10px #666666;
	padding: 25px 50px;
	margin-top: 50px;

} 

#contact-button  {
	margin-top: 100px;
	margin-bottom: 100px;
}

#contact-button p {
	text-align: center;
}



.contact-button:hover, 
.contact-button:focus, 
.contact-button:active { 
  color: #FFFFFF; 
  background-color: #27273B; 
  border: none ; 
  text-decoration: none;
} 










