body {

	font-family: 'Montserrat', sans-serif; 
	font-size: 16px;
	line-height: 200%;
	letter-spacing: 1px;
	color: #27273B;
	background-color: #F5F3F3; 
	margin-right: 15px;
	margin-left: 15px;
	text-align: justify;

}

/*//////////////////// COVER-PAGE ////////////////////*/

#cover-page {
	margin: 0 auto;
	text-align: center;
	height: 100vh;
	overflow: hidden;

}


#earlybird-logo {
	padding-top: 10vh;

}


#earlybird-logo img {
	height: 30vh;
	margin: 0 auto;

}


#earlybird-text {
	padding-top: 10vh;

}


#earlybird-text img {
	height: 7vh;
	margin: 0 auto;
	max-width: 75%;

}


#earlybird-subtitle {
	padding-top: 4vh;

}


#earlybird-subtitle p {
	font-size: 19px;
	line-height: 145%;
}


#scroll-affordance  {
	margin-top: 18vh;

}


#scroll-affordance img {
	height: 60px;

}


/*//////////////////// SECTION-1 ////////////////////*/


#section-1 {
	height: 100vh;
	max-width: 960px; 
	margin: 0 auto;


}


.body-quote {
	display: table;
	width: 100%;
	margin-left: 5%;
	margin-top: 10%;
	overflow: hidden;
}

.body-quote .quote-line {
	width: 5px;
	height: 90%;
	background-color: #27273B;
	display: inline-block;
	vertical-align: top;
	
}

.body-quote .quote-text {
	width: 92%;
	max-width: 450px;
	height: 100%;
	margin-left: 5%;
    overflow-y: auto;
    display: inline-block;
	font-style: italic;

}

.clearfix {
	overflow: auto;
}



}

.body-section {
	background-color: blue;
	max-width: 750px;
	margin: 0 auto;

}

.body-titles {
	margin-top: 10%;
	margin-bottom: 2%;
	font-weight: bold;
	font-size: 120%;
}

.body-text {
	color: #3F3F60;

}


@media (max-width:1000px) { 

#section-1 {
	padding-left: 50px;
	padding-right: 50px;
	}
}


@media (max-width:750px) { 

.skills .skill {
	width: 45%;
	}

/*#earlybird-logo img {
	margin-top: 15vh;
	height: 15vh;

	}*/

}


@media (max-width:500px) { 

.body-quote {
	margin-left: 0;
	}

}


@media (max-width:425px) { 

.skills .skill {
	width: 100%;
	}
}



/*//////////////////// SKILLS ////////////////////*/

.skills {
display: block;
width: 100%;
/*background-color: blue;*/

}

.skill {
	width: 30%;
	min-width: 200px;
	/*max-width: 250px;*/
	height: 120px;
	display: inline-block;
	overflow: hidden;
	/*background-color: lightblue;*/
	float: left;
	margin: 10px;
	margin-top: 50px;

}

.skill img {
	display: block;
	height: 35px;
	margin: 0 auto;

}

.skill p {
	margin-top: 25px;
	text-align: center;
	color: #27273B;

}

.clear {
	clear: both;
}






















/*

a button {
	display: block;
	margin: 0 auto;
	height: 60px;
	width: 120px;
	background-color: #46A0E6;
	color: #0F416C;
	box-shadow: 0px 10px 20px 0px rgba(39,39,59,0.20), 0px 6px 6px 0px rgba(39,39,59,0.33);
	border-radius: 3px;
	border: none;
	margin-top: 50px;
	font-family: inherit;
	font-size: 22px;

}


button:hover {
	background-color:#5CACE9;
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	color: inherit;
}

a:active {
	position:relative;
	top:1px;
		text-decoration: none;

}


